<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sagar.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".helper.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"

            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".marketing.activity.MarketingDrawerActivity"
            android:windowSoftInputMode="stateHidden"
             >
        </activity>
        <activity
            android:name=".retailer.RetailerDrawerActivity"
            android:windowSoftInputMode="stateHidden"
             >
        </activity>
        <activity
            android:name=".ui.CheckInActivity"
            android:windowSoftInputMode="stateHidden"
             >
        </activity>
        <activity
            android:name=".marketing.activity.CartActivity"
            >
        </activity>
    </application>

</manifest>
